.parent-div{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.pop-up{
    position: absolute;
    top: 30%;   
    left: 35%;
    border: 1px solid black;
    width: 30%;
    height: 30%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.pop-up-bar{
    
    width: 99%;
    height: 20%;
    background-color: #F7F7F7;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
}

.pop-up-button{

    color: white;
    background-color: #00A5EC;
    border-radius: 4px;
    font-size: 20px;
    border-color: #00A5EC;
    position: relative;
    left: 58%;
    margin-top: 20px;
    height: 30%;
    width: 40%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}
.heading{
    width: 100%;
    padding-left: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFFFFF;
}

.tasks{
    color: #424242;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #FFFFFF;

}

.list{
    color: #00A5EC;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #FFFFFF;

}

.function{
    padding-left: 70%;
    font-size: 2rem;
    padding-top: 1.5rem;
    display: flex;
    
}

.Add{
    position: absolute;
    padding-left: 4%;
  
}
hr{
    background-color: #EDEDED;
    opacity: 0.3;
}
.cards{
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   width: 70%;
   padding-left: 14rem;
   
}
.card{
  
    width: 280px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding-left: 15px;
    height: 280px;
    margin-top: 1.5rem;
    opacity: 1  ;
    background-color: #FFFFFF;
}
p{
    color: #00A5EC;
    font-size: 1.4rem;
    padding-left: 20px;
    font-weight: 600;
}

.cut{
    color: #C2C2C2;
    text-decoration: line-through;
   
}
form{
   margin: 1em;
   font-size: 1.2rem;
}
#check{
    width: 20px;
    height: 20px;
}




@media screen and (max-width: 600px) {
  
    .heading{
     padding-left: 1rem;
   
    }
    .Add{
        display: none;
    }
    .function{
        padding-left: 45%;        
    }
    .cards{
        flex-direction: column;
        padding-left: 2rem;
        width: 80%;
    }
    .card{
        width: 100%;
    }
    .parent-div{
        filter: blur(6px);
        -webkit-filter: blur(6px);
    }
    .pop-up{
        position: absolute;
        top: 30%;   
        left: 4%;
        border: 1px solid black;
        width: 80%;
        height: 30%;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
    }

   #add-new{
    margin: 0;
    margin-bottom: 1.5rem;
   }
    
    .pop-up-bar{
        
        width: 99%;
        height: 20%;
        margin-top: 1.5rem;
    }
    
    .pop-up-button{
    
        color: white;
        background-color: #00A5EC;
        border-radius: 4px;
        font-size: 20px;
        border-color: #00A5EC;
        position: relative;
        left: 50%;
        margin-top: 20px;
        height: 20%;
        width: 50%;
    }   

 }